@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  margin-top: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  background: #eee;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
}

a {
  text-decoration: none;
  font-size: 15px;
  padding: 8px;
  color: gray;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 8px;
  /* used together a lot but removes the default margin/padding */
  margin: 0;
  padding: 10px;
}